div.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 211, 211);
    z-index: 100;
}

div.left-section {
    display: flex;
    align-items: center;
}

img.hamburger-menu {
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

img.youtube-logo {
    width: 100px;
}

div.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

input.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    font-family: Roboto, Arial;
    font-size: 16px;
    width: 0px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgb(0, 0, 0, 0.25);
}

button.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(235, 235, 235);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: -1px;
    margin-right: 10px;
}

img.search-icon {
    height: 25px;
}

button.search-button,
button.voice-button,
div.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button.search-button div.tooltip,
button.voice-button div.tooltip,
div.upload-icon-container div.tooltip {
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 6px;
    border-radius: 3px;
    position: absolute;
    bottom: -25px;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
    white-space: nowrap;
}

button.search-button:hover div.tooltip,
button.voice-button:hover div.tooltip,
div.upload-icon-container:hover div.tooltip {
    opacity: 1;
}

button.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(235, 235, 235);
}

img.voice-search-icon {
    height: 24px;
}

div.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 180px;
    margin-right: 20px;
}

img.upload-icon {
    height: 24px;
}

img.youtube-apps-icon {
    height: 24px;
}

div.notifications {
    position: relative;
}

img.notifications-icon {
    height: 24px;
}

div.notification-count {
    position: absolute;
    top: -2px;
    right: -4px;

    background-color: rgb(201, 3, 3);
    font-family: Roboto, Arial;
    font-size: 11px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 1px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1.2px;
    border-color: white;
}

img.my-channel-icon {
    height: 32px;
    border-radius: 16px;
}