nav.sidebar {
    position: fixed;
    background-color: white;
    top: 55px;
    left: 0px;
    bottom: 0px;
    width: 72px;
    padding-top: 10px;
    z-index: 150;
}

div.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    height: 76px;
    cursor: pointer;
}

div.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

div.sidebar-link img {
    height:30px;
}

div.sidebar-link div{
    font-size: 10px;
}